<% provide(:title,  "動画フォルダ一覧") %>

<div class="content">
  <%= link_to "フォルダ新規作成", new_organization_folder_path, remote: true, class: "btn btn-success" if current_user.present? %>
  <%= link_to "動画一覧", videos_path(organization_id: @organization.id), class: "text-white ml-2 btn btn-warning" %>   
  <div style="text-align:center">
    <%@folders.each do |folder|%>
      <table style="float:left;margin:15px;">
        <tr id = "<%=current_user&.id%>">
          <td>
            <%= link_to organization_folder_path(folder.organization_id, folder.id) ,method: :get do %>
              <i class="far fa-folder fa-8x"></i>
            <% end %>
          </td>
        </tr>
        <th id = "<%=folder.organization_id%>" class = "<%=folder.id%>">
          <%=folder.name%> &nbsp;
          <%if current_system_admin.present? || current_user.role == 'owner'%>
            <%= link_to organization_folder_path(folder.organization_id, folder.id), method: :delete, data: {confirm: "削除しますか？"} do%>
              <i class="far fa-trash-alt" color=red></i>
            <% end %>
          <%end%>
        </th>
      </table>
    <%end%>
  </div>
</div>

<div id="new" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>