<% provide(:title, "プラン選択") %>
<div class="container mt-5">
  <div class="row">

    <!-- 基本プラン -->
    <div class="col-md-4 mb-4">
      <div class="card plan-card p-4">
        <div class="card-body">
          <h2 class="card-title plan-title">基本プラン</h2>
          <h4 class="text-muted plan-price">0円</h4>
          <p class="card-text">基本プランの詳細や特徴をここに記述します。</p>
          <%= form_with url: organizations_payment_path, method: :post do |form| %>
            <%= form.hidden_field :priceId, value: "price_1NT2vAD3GXsNBZ1zw9YMTKCc" %>
            <% if @organization.plan == 0 %>
              <button class="btn btn-secondary btn-block mt-3" disabled>現在のプラン</button>
            <% else %>
              <%= form.submit "プランを選択", class: "btn btn-primary btn-block mt-3" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- スタンダードプラン -->
    <div class="col-md-4 mb-4">
      <div class="card plan-card p-4">
        <div class="card-body">
          <h2 class="card-title plan-title">スタンダードプラン</h2>
          <h4 class="text-muted plan-price">1000円</h4>
          <p class="card-text">スタンダードプランの詳細や特徴をここに記述します。</p>
          <%= form_with url: organizations_payment_path, method: :post do |form| %>
            <%= form.hidden_field :priceId, value: "price_1NNDFBD3GXsNBZ1zC2sMJLFh" %>
            <% if @organization.plan == 1000 %>
              <button class="btn btn-secondary btn-block mt-3" disabled>現在のプラン</button>
            <% else %>
              <%= form.submit "プランを選択", class: "btn btn-primary btn-block mt-3" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- プレミアムプラン -->
    <div class="col-md-4 mb-4">
      <div class="card plan-card p-4">
        <div class="card-body">
          <h2 class="card-title plan-title">プレミアムプラン</h2>
          <h4 class="text-muted plan-price">2000円</h4>
          <p class="card-text">プレミアムプランの詳細や特徴をここに記述します。</p>
          <%= form_with url: organizations_payment_path, method: :post do |form| %>
            <%= form.hidden_field :priceId, value: "price_1NTu0QD3GXsNBZ1zpIVjM0gV" %>
            <% if @organization.plan == 2000 %>
              <button class="btn btn-secondary btn-block mt-3" disabled>現在のプラン</button>
            <% else %>
              <%= form.submit "プランを選択", class: "btn btn-primary btn-block mt-3" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
