<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <%= link_to organization_folders_path(organization_id: current_user.organization_id), class:"brand-link" do %>
    <%= image_tag "AdminLTELogo.png", class:"brand-image img-circle elevation-3", style: "opacity: .8" %>
    <span class="brand-text font-weight-light">レコブル</span>
  <% end %>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="viewer-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
      </div>
      <div class="info">
        <%= link_to current_user.name, user_path(current_user), class:"d-block" %>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
         <li class="nav-item">
          <%= link_to new_video_path, class:"nav-link" do %>
            <i class="nav-icon fas fa-th"></i>
            <p>
              動画投稿
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_questionnaire_path(@user), class:"nav-link" do %>
            <i class="nav-icon fas fa-th"></i>
            <p>
              アンケート作成
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "#", class:"nav-link" do %>
            <i class="nav-icon fas fa-th"></i>
            <p>
              対象Grの設定
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_recording_path, class:"nav-link" do %>
            <i class="nav-icon fas fa-th"></i>
            <p>
              動画録画
            </p>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to organization_folders_path(current_user.organization_id), class:"nav-link" do %>
            <i class="nav-icon fas fa-th"></i>
            <p>
              動画フォルダ一覧
            </p>
          <% end %>
        </li>

        <!-- オーナと動画投稿者の条件分岐 -->
        <!-- オーナ -->
        <% if current_user.role == 'owner' %>
          <li class="nav-item">
            <%= link_to users_path, class:"nav-link" do %>
              <i class="nav-icon fas fa-th"></i>
              <p>
                投稿者一覧
              </p>
            <% end %>
          </li>
        <% end %>
        <!-- /オーナと動画投稿者の条件分岐 -->
        <li class="nav-item">
          <%= link_to viewers_path, class:"nav-link" do %>
            <i class="nav-icon fas fa-th"></i>
            <p>
              視聴者一覧
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to edit_user_path(current_user), class:"nav-link" do %>
            <i class="nav-icon fas fa-th"></i>
            <p>
              アカウント編集
            </p>
          <% end %>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>