<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">動画情報設定</h1>
    </div>
    <div class="modal-body">
      <div class="content">
        <%= form_with(model: @video, url:video_path(@video), local:false ) do |f| %>
          <%= render '/shared/error_messages', object: f.object %>
          <div class="field">
            <%= f.label :title, class: "video-label" %><br>
            <%= f.text_field :title, id: "title_edit" %><br>
          </div>
          <div class="field">
            <%= f.label :open_period, class: "video-label" %><br>
            <%= f.datetime_field :open_period , id:"open_period_edit" %> 
          </div>
          <div class="field">
            <%= f.label :range, class: "video-label" %><br>   
            <%= f.select :range, [['一般公開',0],['限定公開',1]], { include_blank: false, selected: selected_before_range }, id:"range_edit" %>  
          </div> 
       
          <div class="field">
            <%= f.label :comment_public, class: "video-label" %><br>
            <%= f.select :comment_public, [['公開',0],['非公開',1]], { include_blank: false, selected: selected_before_comment_public },  id:"comment_public_edit" %>
          </div> 
          <div class= "field">
            <%= f.label :login_set, class: "video-label" %><br>     
            <%= f.select :login_set, [['ログイン不要',0],['ログイン必要',1]], { include_blank: false, selected: selected_before_login_set }, id:"login_set_edit" %> 
          </div>
          <div class="field">
            <%= f.label :popup_before_video, class: "video-label" %><br>
            <%= f.select :popup_before_video, [['動画視聴開始時ポップアップ非表示',0],['動画視聴開始時ポップアップ表示',1]], { include_blank: false, selected: selected_before_popup_before_video }, id:"popup_before_video_edit" %>
          </div> 
          <div class="field">
            <%= f.label :popup_after_video, class: "video-label" %><br>
            <%= f.select :popup_after_video, [['動画視聴終了時ポップアップ非表示',0],['動画視聴終了時ポップアップ表示',1]], { include_blank: false, selected: selected_before_popup_after_video }, id:"popup_after_video_edit" %>
          </div>

          <%= f.label :folders, class: "video-label" %><br>
          <% if current_system_admin.present? %>
            <%= collection_check_boxes(:video, :folder_ids, Folder.assigned_by_the_video_setting(@video), :id, :name) do |b| %>
              <%= b.label { b.check_box + b.text } %>
            <% end %><br>
          <% else %>
            <%= collection_check_boxes(:video, :folder_ids, Folder.current_user_has(current_user), :id, :name) do |b| %>
              <%= b.label { b.check_box + b.text } %>
            <% end %><br>
          <% end %>
            
          <div class="video-post-actions">   
            <% if system_admin_signed_in? || @video.my_upload?(current_user) || @video.ensure_owner?(current_user) %> 
              <%= f.submit "設定を変更", class: "btn btn-primary" %>   
            <% end %>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
