<% provide(:title,  "ビデオ投稿") %>
<div class="content">
  <%= form_with(model: @video, url:videos_path, local:true ) do |f| %>
    <%= render '/shared/error_messages', object: f.object %>
    <div class="row">
      <div class="col-md-7">
        <div class="field">
          <%= f.label :video %><br>
          <%= f.file_field :video, accept: "video/*", id:"post" %> 
        </div>
        <!--このclassのエリアを、file_fieldの上に被せる-->
        <div class="choice_box">ドラック＆ドロップまたはクリック</div><br>
        <!--ここにプレビュー表示-->
        <div id="show"></div>
      </div>
      <div class="col-md-5 video-info">
        <div class="field">
          <%= f.label :title, class: "video-label" %><br>
          <%= f.text_field :title, id: "title" %><br>
        </div>
        <div class="field">
          <%= f.label :open_period, class: "video-label" %><br>
          <%= f.datetime_field :open_period , id:"open_period" %> 
        </div>
        <div class="field">
          <%= f.label :range, class: "video-label" %><br>
          <%= f.select :range, [['一般公開',0],['限定公開',1]], { include_blank: false, selected: 0 }, id:"range" %>
        </div> 
        <div class="field" id="group_field" style="display: none;">
          <% if @groups.any? %>
            <%= f.label :group, class: "video-label" %><br>
            <% @groups.each do |group| %>
              <%= check_box_tag 'video[group][]', group.id %>
              <%= label_tag "video_group_#{group.id}", group.name %><br>
            <% end %>
          <% else %>
            <p style="color: red;">公開するグループを選択してください。</p>
            <%= link_to 'グループを作成する', new_group_path, class: "btn btn-primary" %>
          <% end %>
        </div>
        <div class="field">
          <%= f.label :comment_public, class: "video-label" %><br>
          <%= f.select :comment_public, [['公開',0],['非公開',1]], { include_blank: false, selected: 0 }, id:"comment_public" %>
        </div>
        <div class="field">
          <%= f.label :login_set, class: "video-label" %><br>
          <%= f.select :login_set, [['ログイン不要',0],['ログイン必要',1]], { include_blank: false, selected: 0 }, id:"login_set" %>
        </div>
        <div class="field">
          <%= f.label :popup_before_video, class: "video-label" %><br>
          <%= f.select :popup_before_video, [['動画視聴開始時ポップアップ表示',0],['動画視聴開始時ポップアップ非表示',1]], { include_blank: false, selected: 0 }, id:"popup_before_video" %>
        </div>
        <div class="field">
          <%= f.label :popup_after_video, class: "video-label" %><br>
          <%= f.select :popup_after_video, [['動画視聴終了時ポップアップ表示',0],['動画視聴終了時ポップアップ非表示',1]], { include_blank: false, selected: 0 }, id:"popup_after_video" %>
        </div>
        <div class="field">
          <%= f.label :folders, class: "video-label" %><br>
          <%= collection_check_boxes(:video, :folder_ids, Folder.current_user_has(current_user).includes([:organization]), :id, :name) do |b| %>
            <%= b.label { b.check_box + b.text } %>
          <% end %><br>
          <%= link_to "フォルダ新規作成はこちら", new_organization_folder_path(organization_id: current_user.organization.id), remote: true %>
        </div>
        <div class="video-post-actions">
          <%= f.submit "新規投稿", class: "btn btn-success"%>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div id="new" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>