<% provide(:title,  "ビデオ詳細") %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<% if @video.popup_before_video == true %>
  <%= link_to "popb", popup_before_video_path(@video), remote: true, id: "hiddenPopupBeforeLink", class: "btn", style: "display: none;" %>
<% end %>
<% if @video.popup_after_video == true %>
  <%= link_to "popa", popup_after_video_path(@video), remote: true, id: "hiddenPopupAfterLink", style: "display: none;" %>
<% end %>

<div class="content">
  <div class="video-display-show">
    <video width="1000" height="500" id="mv" controls>
      <source src="<%= url_for(@video.video) %>">
    </video><br> 
  </div>
  <div class="video-title-and-action-show">
    <%= @video.title %>
    <div class="btn-area row">
      <div class="col-md-9">
      <% if user_signed_in? || system_admin_signed_in? %>
        <%= link_to "設定", edit_video_path(@video), remote: true, class: "btn btn-success" %>
        <% if @pre_answers.present? || @post_answers.present? %>
          <%= link_to 'アンケート確認', video_questionnaire_answers_path(@video), class: 'text-white btn btn-warning' %>
        <% end %>
        <%= @video.hidden_button %>
      <% end %>
      </div>
      <% if user_signed_in? || system_admin_signed_in? %>
        <div class="col-md-3">
          <button class="copy-button" id="id-copy-button">URLをコピー
            <span class="copied" id="id-copied">URLをコピーしました</span>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div> 
<!-- 動画コメント ------------------------------------------------------------------------>
<div class="container">
  <div class="row">
    <div class="col-8">
      <% if account_logged_in? %>
        <div class="comment-create">
          <h4 class="text-left">コメントを投稿する</h4>
            <%= render partial: 'comments/form' %>
        </div><br>
      <% end %>
      <hr>
      <div class="comment-create">
        <h4 class="text-left title">コメント</h4>
      </div>
      <div id="comments_area">
        <%= render partial: 'comments/index' if @comments.present? %>
      </div>
    </div>
  </div>
</div>
<!-- 動画コメント ------------------------------------------------------------------------>

<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="popup_before" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="popup_after" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>