<h1>アンケート回答一覧</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>視聴者</th>
      <th>メールアドレス</th>
      <th>回答</th>
      <th>最終更新日時</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @questionnaire_answers_grouped.each do |(viewer_id, user_id), answers| %>
      <tr>
        <td><%= answers.first.viewer_name %></td>
        <td><%= answers.first.viewer_email %></td>
        <td>
          <%= link_to "確認する", video_video_questionnaire_answer_path(@video, viewer_id: viewer_id.presence || '0', user_id: user_id.presence || '0'), remote: true %>
        </td>
        <td>
          <% latest_answer = answers.max_by(&:updated_at) %>
          <%= latest_answer.updated_at.strftime("%Y-%m-%d %H:%M:%S") if latest_answer.updated_at %>
        </td>
        <td>
          <% answers.each do |answer| %>
            <%= link_to '削除', video_questionnaire_answer_path(@video, latest_answer.id), method: :delete, data: { confirm: '削除しますか？' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
