<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'organizations', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'organizations', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'uses', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="register-page" id="<%= page_body_id(params) %>">
    <%= render template: "layouts/application" %>
  </body>
</html>
